.icon-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 0;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 25%;
}
.icon-row__icon:hover span {
  font-weight: 600;
}
.icon-row__icon i {
  font-size: 32px;
}
.icon-row__icon span {
  margin-top: 15px;
  text-align: center;
}
