.nav {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 15px 30px;
  box-sizing: border-box;
  background-color: #f9f9fa;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
}
